<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include head.html %}

<body>
  <div id="page-load-bar"></div>
  <div id="page-loader" aria-label="Loading" role="status">
    <div class="loader-spinner"></div>
  </div>

  <div class="site-wrapper">

    <header class="site-header">

      <h1 class="site-title">
           {% include name_letters.svg %}
      </h1>

      <a class="menu-toggle" id="hamburger_button" aria-label="Toggle Menu" aria-expanded="false">
        {% include cardboard_buttons/hamburger.svg %}
      </a>

      <nav class="nav" id="main-nav">
        <a href="/" class="nav-item nav-about{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}"
          id="about_button" data-swup-preload>
          {% include cardboard_buttons/about.svg %}
        </a>
        <a href="/projects" class="nav-item nav-projects{% if page.url contains 'projects' %} active{% endif %}"
          id="projects_button" data-swup-preload>
          {% include cardboard_buttons/projects.svg %}

        </a>
        <a href="/research" class="nav-item nav-research{% if page.url contains 'research' %} active{% endif %}"
          id="research_button" data-swup-preload>
          {% include cardboard_buttons/research.svg %}

        </a>
        <a href="/contact" class="nav-item nav-contact{% if page.url contains 'contact' %} active{% endif %}"
          id="contact_button" data-swup-preload>
          {% include cardboard_buttons/contact.svg %}
        </a>
      </nav>
    </header>

    
    <main id="swup" class="transition-fade page-content">
      {% if page.add_scroll %}
        {% include scroll.html %}
      {% endif %}
      {{ content }}
    </main>

  </div>
</body>

</html>