---
layout: default
---

{% include scroll.html %}

<article class="project-container {{ page.css_class }}">
  <header class="project-header">
    <h1 class="project-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="project-date">
      {{ page.date | date: "%B %d, %Y" }}
    </time>
    <br/><br/>
    {% if page.description and page.description != "" %}
      <p class="lead">{{ page.description }}</p>
    {% endif %}
  </header>

  <div class="project-content">
    {% if page.image %}
      <div class="project-main-image">
        <img src="{{ page.image_active | relative_url }}" alt="{{ page.title }} thumbnail">
      </div>
    {% endif %}

    <div class="project-description">
      
      <div class="post-body">

        {{ content }}
      </div>
    </div>
  </div>

  <footer class="project-footer">
    <a href="{{ '/projects' | relative_url }}" class="back-link">← Back to all projects</a>
  </footer>
</article>